@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--white-color: #fff;
	--text-color: #363434;
	--accent-color: #8d53d9;
	--aqua-color: #3ed4e2;
}

body {
	@apply text-[18px] text-[--text-color] font-normal  flex flex-col h-screen bg-repeat bg-cover;
}

@layer utilities {
	.animation {
		outline: transparent;
		padding: 3px;
		border-radius: 4px;
		transition:
			color 0.3s,
			opacity 0.3s,
			box-shadow 0.3s;

		&:focus {
			box-shadow: 0 0 0 2px var(--accent-color);
			border-radius: 4px;
		}

		&:active {
			opacity: 0.7;
			box-shadow: 0 0 0 2px var(--accent-color);
		}

		&:hover {
			color: var(--accent-color);
		}
	}
}
